@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}


:root {
    --background-color: rgb(241, 241, 241);
    --primary-color: #0A083B;
    --para-color: #57586E;
    --text-muted: #57586E;
    --gradient-warning: linear-gradient(180deg, #EDAC3D 8.09%, #F0C419 69.16%);
    --gradient-skyblue: linear-gradient(180deg, #3B43F2 8.09%, #2178FF 69.16%);
    --gradient-sea-blue: linear-gradient(180deg, #18AACD 8.09%, #19E3F0 69.16%);
    --gradient-pink: linear-gradient(180deg, #F22452 37.71%, #FF5364 60.98%);
    --gradient-purple: linear-gradient(180deg, #8214FC 8.09%, #9E6CFF 69.16%);
    --gradient-dark-blue: linear-gradient(181.08deg, #001ED3 47.89%, #247BDE 106.65%);
    --skyblue: #3B43F2;
    --sea-blue: #18AACD;
    --pink: #F22452;
    --warning: #EDAC3D;
    --dark-blue: #011ED3;
    --purple: #8214FC;
    --card-radius: 15px;
    --offcanvas-width: 270px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
}

html {
    /* font-size: 14px; */
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Avenir Next', 'inter', sans-serif;
    background: var(--background-color);
    /* font-size: 0.88rem; */


}

a {
    color: var(--primary-color);
}



h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}


/* sidebar */

.logo {
    width: 200px;

}

.sidebar_nav ul li {
    margin-top: 15px;
}


.sidebar_nav ul li .active {
    background: #191489;
    color: #fff;
    box-shadow: 0px 5px 20px rgba(55, 69, 87, 0.1);
    border-radius: 10px;

}


.text-gray {
    font-size: 1rem;
    color: #7282A0;
    margin-left: 13px;
}


.nav-link span img {
    width: 25px;
}


.sidebar_nav .sidebar-link .vector-img {
    width: 18px;
}

.sidebar_card {
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(55, 69, 87, 0.1);
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 70px;
}

.sidebar_card-body {
    margin: 0 20px;
}

.sidebar_card-body .card-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.medal-img {
    width: 32px;
}

.lead-text {
    align-self: justify;
    font-size: .7rem;
}

.card_btn {
    background: #191489;
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 10px;
}


/* End sidebar */

/* -------------------------main section---------------------------------------------- */

/* .wrapper {
    max-width: 1200px;
    margin: auto;

} */

.nav-header-text {
    color: #374557;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
}



.form-box {
    background-color: #FAFAFA;
    border-radius: 10px;
}

.form-box input {
    border: none;
    background: transparent;
}

.form-control::placeholder {
    font-size: .9rem;
}

.form-box button img {
    width: 20px;
}


.nav-item .nav-link span .font-size {
    color: #393649;
    font-size: .6rem;
}

.nav-item .nav-link span .us-img {
    width: 20px;
}


.navbar-nav .nav-link .inbox-img {
    width: 20px;
}


.navbar-nav .nav-link .user-img {
    width: 20px;
}

/* ------------------------main Content----------------------------- */
.main {
    background: var(--background-color);
    width: 100%;
}

/* --------------middle column---------- */
.content_header-text {
    color: #374557;
    font-size: 20px;
}

.active {
    color: #191489;
}

.text-muted {
    color: #374557;
}

.text-mute {
    color: #A098AE;
    font-size: .9rem;
    font-weight: bold;
}


.rate {
    font-size: .8rem;
    color: #A098AE;
}

.star-rating {
    width: 15px;
    color: #A098AE;
}


button {
    background: transparent;
    border: none;
}



.button-box {
    padding: 4px 15px;
    border: 1px solid #374557;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;

}

.button-box-primary {
    background: hsl(243, 75%, 31%);
    font-size: .8rem;
    border: none;
    padding: 5px 15px;
}

.button-box-primary button {
    color: #fff;
}



.About {
    color: #374557;
    font-weight: bold;
}

.about-text {
    color: #A098AE;
    font-size: .8rem;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.dropdown-menu li .dropdown-item {
    font-size: .9rem;
    color: #191489;
}


.dropdown-menu li .dropdown-item:hover {
    background: none;
}



.sett-img {
    width: 20px;

}

.lock-img {
    border-radius: 50%;
    width: 30px;
}

.link-mute {
    color: #374557;

}

.intro-text {
    color: #1C168C;
    font-weight: bold;
}

.drop {
    color: #374557;
}

.bor-btm {
    border-bottom: 1px solid #C8C8C8;
    margin-top: 5px;

}

ul.bor-btm span::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: #1C168C;
    transition: .5s ease;
    margin: auto;

}

ul.bor-btm span:hover::after {
    width: 100%;

}

.home-work-card {
    border-radius: 10px;
}



.line {
    height: 10px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.line-1 {
    height: 9px;
    width: 50%;
    background-color: #9C4DF4;

}

.line-2 {
    background-color: #191489;
}


.card1 {
    background-color: #191489;
    color: #fff;
    border-radius: 10px;
}

.card2 {
    background-color: rgba(219, 219, 219, 0.514);
    color: #374557;
}



.card3 {
    background-color: #fff;
    color: #374557;
}

.card3 .progress-text3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card3 .arrow-icon {
    width: 20px;
}

.card1 .check-img {
    background-color: #fff;
    color: #fff;
}

.progress-text {
    color: #374557;
    font-size: 1.3rem;
    font-weight: bold;
}

.bg-grey {
    background: #e5e5e5e1;
    border-radius: 16px;
}

.text-col {
    color: #191489;
}

.up-arrow {
    width: 25px;
}



/* -------------------End-----main Content----------------------------- */






/* -----------------media query------------------------- */

@media (max-width:1024px) {

    .main .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar .logo {
        width: 150px;
        padding-top: 20px;
    }

    .text-gray {
        display: none;
    }


    /* ---------------Progress bar */

    .progress-img {
        width: 70px;
    }

    .progress-value {
        position: absolute;
        top: 10%;
        left: 37%;
        font-size: .7rem;
    }





    .btn-font {
        font-size: .9rem;
        margin-top: 2px;
    }

    /* ---------------Progress bar *
/* -----------progress box------------------- */

}

@media (max-width:768px) {
    .sidebar {
        display: none;
    }

    .progress-value {

        top: 21%;
        right: 40%;

    }

    .aside {
        display: none;
    }




}

/* -----------------media query------------------------- */